@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Home/_Header.cshtml";

}
    <link href="/Content/assets/css/popup-forget-pass.css" rel="stylesheet">

<section id="body">
    <div id="login-atm">
        @{
            string err_login = Session["errLogin"] as string;
            string errForgot = Session["errForgot"] as string;
        }
        <div class="login box-shadow-form">
            @{
                if (err_login != null)
                {
                    <span class="err-login"> @err_login</span>
                    Session.Remove("errLogin");
                }
            }
            <div class="title-form" data-aos="zoom-out-down" data-aos-duration="800">
                <h1>Đăng nhập</h1>             
            </div>
            <form id="form-login" class="form-style" action="/Home/Login"
                  method="post">
                <label for="userName">Tài khoản</label>
                <input type="text" id="userName" name="userName" placeholder="Tài khoản"
                       value="">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" placeholder="Mật khẩu" value="">
                <div class="remember-pass">
                    <input id="remember" type="checkbox">
                    <label for="remember">Lưu mật khẩu</label>
                </div>
                <button id="confirm-btn" type="submit">ĐĂNG NHẬP</button>
                <div class="forgot-register">
                    <a data-toggle="modal" data-target="#myModal" href="">Quên mật khẩu</a>
                    <a href="/Home/Register">Đăng ký</a>
                </div>
            
            </form>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đặt Lại Mật Khẩu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="color: #591410" aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="forget-pass">
                        <form id="form-forget" class="form-style-fg" action="/Home/ForgotPass" method="post">
                            <ul id="frame-forget-pass">
                                <li class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <h5 class="modal-title suc-mail">Vui lòng nhập địa chỉ email và số điện thoại bạn đã đăng ký </h5>
                                    </div>
                                    @{
                                        if (errForgot != null)
                                        {
                                            <span class="err-mail"> @errForgot</span>
                                                Session.Remove("errForgot");
                                            }
                                      }
                                        <div class="col-sm-12 col-xs-6">
                                            <input type="text" id="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12 col-xs-6">
                                            <input type="text" id="phone" name="phone" placeholder="Số điện thoại">
                                        </div>
                                    </li>
                            </ul>
                            <div class="btn-submit">
                                <button type="submit" class="update-btn">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                </div>
   
            </div>
        </div>
    </div>
    <script src="/Content/assets/js/validation-form/vali-login.js"></script>
  
</section>