@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/Home/_Header.cshtml";
}


<section id="body">
    <div id="error404">
        <div class="container">
            <div class="content-error">
                <div class="main-error">
                    <div class="img-error">
                        <img src="~/Content/assets/img/common/order-successful.jpg" alt=""/>
                    </div>

                    <div class="right-error">
                        <div class="error_title">Đặt hàng thành công!</div>
                        <div class="error_text">
                            Chúc mừng bạn đã đặt hàng thành công. Hãy theo dõi đơn hàng thường xuyên nhé!
                        </div>
                        <div class="back-home">
                            <a href="/" class="error_back">
                                <i class="fa fa-home"
                                   aria-hidden="true"></i>Quay lại Trang chủ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/assets/js/bs-animation.js"></script>
</section>